/*404 Page CSS*/
.row-1{
    margin-top: 5em;
    height: auto;
}
.left, .right{
    display: inline-block;
    width: 45%;
    text-align:center;
    margin:auto;
}
.left{
    float: left;
}
.right{
    float:right;
}

.left p{
    font-size: 8em;
    text-align:right;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #F24405;
}
.right p{
    margin-top: 3em;
    text-align: left;
    width: 15em;
    line-height: 2em;
    font-size: 2em;
}

/*Media Queries*/
@media only screen and (max-width: 1050px){
    .right p{
        font-size: 1.5em;
        margin-top: 5em;
    }
}

@media only screen and (max-width: 770px){
    .left p{
        font-size: 5em;
    }
    .right p{
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px){
    .left, .right{
        display: block;
        width: 100%;
        float: none;
    }
    .left p, .right p{
        text-align:center;
        margin:auto;
    }
}