
hr{
    display: block;
    height: 1px;
    border: 2em;
    border-top: 3px solid #F27405;
	border-radius: 10%;
    margin: auto;
    padding: 0; 
	width:75%;
}

.a, .a:visited, .a:active{
    color: #F24405;
    text-decoration:none;
}
.a:hover{
    color: #F27405;
}


/*Website Color Themes*/
.bg-primary{
    background: #005287;
}
.fg-primary{
    color: #005287;
}

.bg-secondary{
    background: #F24405;
}
.fg-secondary{
    color:#F24405;
}

.fg-tertiary{
    color: #F2E9BD;
}
.bg-tertiary{
    background: #F2E9BD;
}
/*End of Website Color Themes*/

/*CSS Wand button stuff*/
.button-Shadow {
    color: #F24405;
    background-color: transparent;
    border: 2.5px solid #F24405;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    height: auto;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    }
.button-Shadow:hover {
    box-shadow: 1px 1px #005287, 2px 2px #005287, 3px 3px #005287, 4px 4px #005287;
    transform: translateX(-3px);
}

.button-Swing {
    color: #F24405;
    background-color: transparent;
    border: 1px solid #F24405;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: auto;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    }
.button-Swing:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
    }
    @keyframes swing {
    15% {
    transform: translateX(5px);
    }
    30% {
    transform: translateX(-5px);
    }
    50% {
    transform: translateX(3px);
    }
    65% {
    transform: translateX(-3px);
    }
    80% {
    transform: translateX(2px);
    }
    100% {
    transform: translateX(0);
    }
}
/*End of CSS Wand button stuff*/

/*Header Stuff*/
.transition{
    transition: .4s;
}
.sandwhich{
    font-size: 2em;
    margin-top: .2em;
    position:fixed;
    left:5px;
    top: 5px;
    outline: none;
}
.bar-item{
    font-size: 1.5em;
    text-align:center;
    transition: .4s;
    display:block;
}
.navBar{
    position:fixed;
    top: 0;
    width:100%;
    height: auto;
    padding: 0 10px;
    text-align:center;
    z-index: 1;
}
.btn{
    border:none;
    padding:8px 16px;
    vertical-align:center;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}
.btn:hover{
    color: #F24405;
}
#navBackground h2{
    float:right;
}
/*End of Header Stuff*/
/*This is all for the footer.*/
#footer {
    padding-top: .5em;
    height:110px;
    margin-top: -110px;
    width:100%;
    background:#005287;
    text-align:center;
 }
 #footerLink{
     color: #F24405;
     text-decoration: none;
 }
#footerLink:active, #footerLink:visited{
     color: #F24405;
 }
 #footerLink:hover{
     color: #F2E9BD;
 }

 html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  /*End of Footer Section.*/



  /*Media Queries*/
  @media only screen and (max-width: 550px){
      #footer{
          margin-top: 0;
      }
      #navText{
        font-size: 1.1em;
    }
    .sandwhich{
        margin-top:-.1em;
    }
  }
