/*Services Page CSS*/
.row-1{
    margin: 5em auto auto;
    text-align:center;
}
.row-2{
    margin: auto;
    text-align:center;
}
.service-icon{
    margin: 1em auto;
}
.service-header{
    margin-bottom: .5em;
}
.service-card{
    width: 20em;
    height: 31em;
    display: inline-block;
    margin: 1em 3em;
    padding: 1em;
    border-radius: 1em;
}
.service-card p{
    height: 50%;
    overflow: auto;
    text-align:left;
}
.buttons{
    margin: auto;
    text-align:center;
}