/*Sign Up Page CSS*/

.row-1{
    margin: 6em auto auto;
    text-align:center;
}
table{
    margin:auto;
    display:inline-block;
}
td{
    padding: 0 2em;
}

input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
    margin-top:.7em;
  }

.submit{
    width: 100%;
    margin-top: 1em;
}